/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family: "Roboto";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input, textarea, button, select {
    outline: 0;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-blue-500);
    height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue-500);
}

/* root */
:root {
    --bg : #0d1317;
    --text-light: rgba(241, 241, 242, 0.95);
    --gray: #b1b3b5;
    --gray-100: #2a2f32;
    --dark-blue: #131c20;
    --dark-blue-200: #1e2428;
    --dark-blue-500: #323739;
    --border-gray: rgba(241, 242, 242, 0.11);
}

/* Style */
.container {
    display: flex;
    height: 100vh;
    background: var(--bg);
    color: var(--text-light);
    font-size: 1rem;
}
.wrapper {
    display: grid;
    grid-template-columns: max(30%, 340px) auto;
    grid-template-rows: 59px auto;
    grid-template-areas:
        "tl tr"
        "side content"
    ;
    width: 100%;
}

header.tl {
    background: red;
    grid-area: tl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: var(--gray-100);
    min-width: 340px;
}
header.tr {
    border-left: 1px solid var(--border-gray);
    background: red;
    grid-area: tr;
    background: var(--gray-100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.contact {
    display: flex;
    align-items: center;
}
.contact p {
    margin-left: 15px;
    font-size: 1rem;
}
.tr .icons {
    margin-right: 15px;
}

.profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--gray);
    cursor: pointer;
}
.icons {
    display: flex;
    grid-gap: 30px;
    margin-right: 15px;
}
.icons div > img {
    height: 1.4rem;
    fill: var(--gray);
    cursor: pointer;
}
.icons .stories {}
.icons .chat {}
.icons .setup {}

.side {
    grid-area: side;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side .search {
    height: 49px;
    background: var(--dark-blue);
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--border-gray);
}
.side .search .boxInput {
    background: var(--dark-blue-500);
    height: 35px;
    width: 100%;
    margin: 5px 16px;
    border-radius: 22px;
    display: flex;
    align-items: center;
}
.side .search .boxInput .icon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: var(--gray);
    cursor: pointer;
    margin: 0 30px 0 10px;
}
.side .search .boxInput input {
    display: flex;
    height: 100%;
    width: max(220px, 20vw);
    background: var(--dark-blue-500);
    border: 0;
    font-size: .8rem;
    color: var(--gray);
}

.side .contactList {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 108px);
    overflow-y: scroll;
}

.side .contactList .contato {
    display: flex;
    align-items: center;
    height: 72px;
    background-color: transparent;
    transition: background-color .2s;
}
.side .contactList .contato:hover {
    cursor: pointer;
    background-color: var(--gray-100);
}
.side .contactList .contato:hover > .infoContato .ultimaMensagem .iconDropdown .bullet {
    left: 0;
}

.side .contactList .contato .fotoContato {
    width: 49px;
    height: 49px;
    background: var(--gray);
    border-radius: 100%;
    margin: 0 15px;
    flex: none;
}
.side .contactList .contato .infoContato {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--border-gray);
    padding: 15px 10px 15px 0;
}
.side .contactList .contato .infoContato .nomeHora {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.side .contactList .contato .infoContato .nomeHora .nome {
    font-size: 1rem;
}
.side .contactList .contato .infoContato .nomeHora .hora {
    font-size: .7rem;
}

.side .contactList .contato .infoContato .ultimaMensagem {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.side .contactList .contato .infoContato .ultimaMensagem .mensagem {
    font-size: .8rem;
    margin-top: 5px;
    display: flex;
}
.side .contactList .contato .infoContato .ultimaMensagem .mensagem span.iconChecked {
    display: inline-block;
    background: var(--gray);
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-right: 7px;
}
.side .contactList .contato .infoContato .ultimaMensagem .iconDropdown {
    width: 15px;
    height: 15px;
    position: relative;
    overflow: hidden;
}
.side .contactList .contato .infoContato .ultimaMensagem .text {
    font-size: .7rem;
}
.side .contactList .contato .infoContato .ultimaMensagem .iconDropdown .bullet {
    background: var(--gray);
    width: 15px;
    height: 15px;
    border-radius: 5px;
    position: absolute;
    left: 16px;
    transition: left 0.1s;
}

/* content */
.content {
    grid-area: content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 62px;
    border-left: 1px solid var(--border-gray);
    grid-template-areas:
        "historico"
        "form"
    ;
}
.content .historico {
    grid-area: historico;
}
.content .form {
    grid-area: form;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
    background-color: var(--dark-blue-200);
}
.content .form .iconsPost,
.content .form .formPost {
    display: flex;
    grid-gap: 15px;
    height: 100%;
    align-items: center;
}
.content .form .icon-post > img {
    height: 1.4rem;
    fill: var(--gray);
    cursor: pointer;
}
.content .inputForm {
    background-color: var(--gray-100);
    height: 65%;
    display: flex;
    align-items: center;
    width: max(58vw, 200px);
    border-radius: 28px;
    padding: 0 15px;
}
.content .inputForm input {
    display: flex;
    height: 50%;
    width: 100%;
    color: var(--gray);
    background-color: var(--gray-100);
    border: 0;
    font-size: .8rem;
}